body {
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  width: 400px;
  background-color: grey;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

input[type="submit"],
input[type="button"] {
  height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #4CAF50;
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

input[type="button"] {
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #d3d3d3;
}

input[type="button"]:hover {
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #bcbcbc;
}

a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup p {
  display: inline-block;
  margin-right: 10px;
}

.signup a {
  color: #fff;
}

}button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #3e8e41;
}

input[type="submit"],
input[type="reset"],
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
   height: 40px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #3e8e41;
}
