body {
   background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: auto;
  width: 400px;
  background-color: grey;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="id"],
.form-group input[type="password"],
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="radio"] {
  margin-right: 10px;
}

.form-group select {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="submit"],
input[type="reset"],
button.cancel-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #f44336;
}

button.cancel-button {
  background-color: #ccc;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button.cancel-button:hover {
  opacity: 0.8;
}
